/*Basic style sheet I can use in everything by Morgan Hill 2014*/
/*Initial setup*/
*{
	box-sizing:border-box;
}
body, nav, nav ul, header, section, footer{
	padding:0;
	margin:0;
	width: 100%;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	word-spacing: 0.03em;
	
}
a{
	color: inherit;
	text-decoration: underline;
}
/*Navigation*/
nav ul{
	color: #fff;
	background: rgb(0,0,0);
	display: block;
	padding: 0.5em;
}
nav ul li{
	display: inline-block;
	margin-left: 1em;
}
/*Header stuff*/
header{
	text-align: center;
	border-bottom: 1px solid #000;
}
header h1{
	font-size: 4em;
}
header h2{
	font-size: 1.75em;
}
/*Section stuff*/
section{
	border-bottom: 1px solid #000;
}
section h1{
	font-size: 1.5em;
	margin-left: 1em;
}
/*section nav*/
section nav{
		width: 20em;
		float: left;
}
section nav ul{
	background: rgba(0,0,0,0);
	color: #000;
}
section nav ul li{
	display: block;
}
/*article stuff*/
article{
	width: 50em;
	padding: 0;
	margin: 0 auto;
	display: block;
}
article h1{
	font-size: 1.3em;
	margin: 0;
}
article h2{
	font-size: 1.1em;
}
article div.columns{
	column-width: 20em;
	-moz-column-width: 20em;
	-webkit-column-width: 20em;
}
article ul{
	list-style-type: square;
}
article li{
	display: list-item;
}
article li p{
	display: inline;
}
article div.main{
	width: 33em;
	margin:0;
	display: inline-block;
}
article aside{
	display: inline-block;
	vertical-align: top;
	width:15em;
	padding: 0;
	margin-left: 1em;
}
aside article{
	width: 15em;
}
/*images*/
figure{
	display: inline-block;
}
img.small{
	width: 10em;
	float: right;
}
img.medium{
	width: 15em;
}
img.large{
	width: 25em;
}
img.extralarge{
	width: 35em;
}
img.fullwidth{
	width: 100%;
}
/*Text boxes*/
label{
	width: 10em;
	display: inline-block;
}
input{
	border: 1px solid #000;
	outline: none;
}
/*Buttons*/
input[type=button]{
	color: inherit;
	background: inherit;
	outline: none;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
}
input[type=button]:hover{
	background: rgba(0,0,0,0.2);

}
input[type=button].small{
	padding: 0.5em;

}
input[type=button].medium{
	padding: 1em;
}
input[type=button].large{
	padding: 2em;
}
input[type=button].extralarge{
	padding: 3em;
}
/*selectors*/
select{
	background: inherit;
	border: 1px solid #000;
	margin-left: -0.355em;
	outline: none;
	
}
select,
input[type=textbox],
input[type=email],
input[type=url],
input[type=search],
input[type=date],
input[type=time],
input[type=password]{
	width: 12em;
	height: 1.5em;
}
/*Footer stuff*/
footer{
	text-align: center;
	padding: 2em;
}
@media only screen and (max-width: 1507px){
	article div.main, img.extralarge{
		width:25em;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 1200px){
/* Styles */

	header h1{
		line-height: 2em;
	}
	section nav{
		width:100%;
		float: none;
	}
	section h1{
		margin:0;
	}
	article, article div.main, article aside, .colunms{
		width:100%;
		display: block;
		padding: 0;
		margin:0;
	}
	article{
		padding: 0.5em;
	}
	.columns{
		column-width: 0;
		-moz-column-width: 0;
		-webkit-column-width: 0;
	}
	aside{
		display: block;
	}
	aside article{
		width:100%;
		padding: 0;
	}

	/*Images*/
	img.small{
		width: 40%;
	}
	img.medium{
		width: 50%;
	}
	img.large{
		width: 70%;
	}
	img.extralarge{
		width: 100%;
	}

}