/*Basic style sheet I can use in everything by Morgan Hill 2014*/
/*Initial setup*/
*{
	box-sizing:border-box;
	padding:0;
	margin:0;
}
body, nav, nav ul, header, section, footer{
	width: 100%;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
	word-spacing: 0.03em;
	
}
header,p{
	line-height: 1.5;
}
a{
	color: inherit;
	text-decoration: underline;
}
ul, ol{
	padding: 2em;
}
/*Navigation*/
nav ul{
	color: #fff;
	background: rgb(0,0,0);
	display: block;
	padding: 0.5em;
}
nav ul li{
	display: inline-block;
	margin-left: 1em;
}

/*hide mobile menue stuffs*/
.mobile{
	display: none;
}

/*Header stuff*/
header{
	text-align: center;
	border-bottom: 1px solid #000;
}
header h1{
	font-size: 4em;
}
header h2{
	font-size: 1.75em;
}
/*Section stuff*/
section{
	border-bottom: 1px solid #000;
}
section h1{
	font-size: 1.5em;
	margin-left: 10px;
}
/*section nav*/
section nav{
	display: inline-block;
}
section nav ul{
	background: rgba(0,0,0,0);
	color: #000;
}
section nav ul li{
	display: block;
}
/*article stuff*/
article{
	width: 1000px;
	padding: 0;
	margin: 0 auto;
	display: block;
}
article h1{
	font-size: 1.3em;
	margin: 0;
}
article h2{
	font-size: 1.1em;
}
article div.columns{
	column-count: 3;
	-moz-column-count: 3;
	-webkit-column-count: 3;
}
article ul{
	list-style-type: square;
}
article li{
	display: list-item;
}
article li p{
	display: inline;
}
article div.main{
	width: 750px;
	margin:0;
	padding: 0;
	display: inline-block;
}
article aside{
	display: inline-block;
	vertical-align: top;
	width: 240px;
	padding: 0;

}
aside article{
	width: 240px;
}
/*images*/
figure{
	display: inline-block;
}
img.small{
	width: 10em;
	float: right;
}
img.medium{
	width: 15em;
}
img.large{
	width: 25em;
}
img.extralarge{
	width: 35em;
}
img.fullwidth{
	width: 100%;
}
/*Text boxes*/
label{
	width: 10em;
	display: inline-block;
}
input{
	border: 1px solid #000;
	outline: none;
}
/*Buttons*/
input[type=button], input[type=submit]{
	color: inherit;
	background: inherit;
	outline: none;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
}
input[type=button]:hover, input[type=submit]:hover{
	background: rgba(0,0,0,0.2);

}
input[type=button].small, input[type=submit].small{
	padding: 0.5em;

}
input[type=button].medium, input[type=submit].medium{
	padding: 1em;
}
input[type=button].large, input[type=submit].large{
	padding: 2em;
}
input[type=button].extralarge, input[type=submit].extralarge{
	padding: 3em;
}
/*selectors*/
select{
	background: inherit;
	border: 1px solid #000;
	margin-left: -0.355em;
	outline: none;
	
}
select,
input[type=textbox],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=date],
input[type=time],
input[type=password]{
	width: 12em;
	height: 1.5em;
}
/*Footer stuff*/
footer{
	text-align: center;
	padding: 2em;
	float: left;
}
/* small screens*/
@media only screen and (max-width: 1020px){
	section{
		padding: 1.5em;
	}
	section h1{
		margin: 0;
	}
	section nav{
		width:100%;
		
	}
	section nav ul li{
		float: left;
	}
	article{
		width:100%;
	}
	article div.main{
		width: 100%;
	}
	article div.columns{
		column-count: 2;
		-moz-column-count: 2;
		-webkit-column-count: 2;
	}
	article aside{
		width: 100%;
	}
	aside article{
		width: 100%;
	}
	img.large,img.extralarge{
		width: 100%;
	}

	header{
		margin-top:3em;
	}

	/*Icon for menu*/
	.mobile{
		display: block;
	}

	#menuIcon{
		color: #fff;
		font-size: 1.5em;
		background-color: #000;
		text-decoration: none;
		width:100%;
		position:fixed;
		top:0;
		left:0;
		padding: 0.8em;

	}

	#menu{
		display: none;
	}
	#menuDisplay{
		display: none;
	}
	#menuDisplay:checked ~ #menu{
		display: block;
		width:100%;
		position: fixed;
		top:4em;
		left:0;
		padding: 0;
		margin-top:5px;
		height: 100%;
	}

	#menuDisplay:checked ~ #menu li{
		float: left;
		width: 100%;
		text-align: center;
		padding: 10px;
		margin: 0;
		border-bottom: 1px solid #fff;
	}

	#menuDisplay:checked ~ #menuIcon{
		border-bottom: 1px solid #fff;
	}
}
/*Big screen*/
@media only screen and (min-width: 1920px){
	article{
		width: 1500px;
	}

	article div.main{
		width: 1250px;
		column-count:3;
		-moz-column-count:3;
		-webkit-column-count:3;
		overflow: hidden;
	}
	article div.columns{
		column-count:5;
		-moz-column-count:5;
		-webkit-column-count:5;	
	}
}

/*Printer*/

@media only print{
	nav, section nav{
		display: none;
	}
	header, section, footer{
		border: none;
	}
	section h1{
		margin-left:0;
	}

}